@import 'tailwindcss';

@theme {
	--color-background: hsl(0, 0%, 95%);
	--color-foreground: hsl(0, 0%, 0%);
	--color-primary: hsl(246, 48%, 46%);
	--color-primary-foreground: hsl(0, 0%, 100%);
	--color-default: hsl(0, 0%, 100%);
	--color-divider: hsl(0, 0%, 85%);
	--color-focus: var(--color-primary);

	--font-sans: 'Inter Tight', sans-serif;
}

@layer base {
	*:focus-visible {
		outline: 2px solid var(--color-focus);
		outline-offset: 2px;
		transition: outline var(--default-transition-duration) ease-in-out;
	}
}

:root {
	::selection {
		background: var(--color-primary);
		color: var(--color-primary-foreground);
		text-shadow: none;
	}

	::-moz-selection {
		background: var(--theme-color-primary);
		color: var(--theme-color-primary-foreground);
		text-shadow: none;
	}
}
