@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Inter Tight', sans-serif;

	--color-background: hsl(0, 0%, 95%);
	--color-foreground: hsl(0, 0%, 0%);
	--color-primary: hsl(18, 100%, 57%);
	--color-primary-foreground: hsl(0, 0%, 100%);
	--color-default: hsl(0, 0%, 100%);
	--color-divider: hsl(0, 0%, 85%);
	--color-focus: hsl(18, 100%, 50%);
}

@layer base {
	@variant dark {
		--color-background: hsl(0, 0%, 0%);
		--color-foreground: hsl(0, 0%, 95%);
		--color-primary: hsl(18, 100%, 57%);
		--color-primary-foreground: hsl(0, 0%, 100%);
		--color-default: hsl(0, 0%, 10%);
		--color-divider: hsl(0, 0%, 15%);
	}

	*:focus-visible {
		outline: 2px solid var(--color-focus);
		outline-offset: 2px;
		transition: outline var(--default-transition-duration) ease-in-out;
	}
}

:root {
	::selection {
		background: var(--color-focus);
		color: var(--color-primary-foreground);
		text-shadow: none;
	}

	::-moz-selection {
		background: var(--color-focus);
		color: var(--color-primary-foreground);
		text-shadow: none;
	}
}
